/*table style for name*/
.tablestyle {
  border-collapse: collapse;
  width: 100%;
}

.tablestyle td, th {
  border: 1px solid blue;
  
} 

.tablestyle th {
  background-color: blue;
  color: black;
}

/*Name style for information*/
.namestyle hr {
  display: none;
}

.namestyle h2 {
  background-color: green;
  color: white;
}
