/*table style for name*/
.tablestyle {
  border-collapse: collapse;
  width: 100%;
}

.tablestyle td, th {
  border: 1px solid blue;
  
} 

.tablestyle th {
  background-color: blue;
  color: black;
}

/*Name style for information*/
.namestyle hr {
  display: none;
}

.namestyle h2 {
  background-color: green;
  color: white;
}

.elemets {
  padding: 12px;
  background-color: white;
  box-shadow: 4px 4px 2px gray;
}

.elements p {
  background-color: white;
  border-left: 3px solid blue;
  font-family: "Courier New", sans-serif;
}
